<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="group.rober.sql.serialno.cursor.mapper.SerialNoCursorMapper">
    <resultMap id="serialNoMap" type="group.rober.sql.serialno.model.SerialNoCursor">
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="TEMPLATE" property="template" jdbcType="VARCHAR" />
        <result column="CURSOR_VALUE" property="cursorValue" jdbcType="BIGINT" />
        <result column="UPDATED_TIME" property="updatedTime" jdbcType="DATE" />
    </resultMap>
    
    <select id="findOne" resultMap="serialNoMap" parameterType="java.lang.String">
        select
        *
        from FOWK_SERIAL_NUMBER
        where ID=#{id}
    </select>

    <insert id="insertOne" parameterType="group.rober.sql.serialno.model.SerialNoCursor">
        insert into FOWK_SERIAL_NUMBER(ID,TEMPLATE,CURSOR_VALUE,UPDATED_TIME) values(#{id},#{template},#{cursorValue},#{updatedTime})
    </insert>

    <update id="increaseSingle" parameterType="group.rober.sql.serialno.model.SingleIncreaseBean">
        update FOWK_SERIAL_NUMBER
        set CURSOR_VALUE=CURSOR_VALUE+1,UPDATED_TIME=#{updatedTime}
        where ID=#{generatorId}
    </update>

    <update id="increaseBatch" parameterType="group.rober.sql.serialno.model.BatchIncreaseBean">
        update FOWK_SERIAL_NUMBER
        set CURSOR_VALUE=CURSOR_VALUE+#{count},UPDATED_TIME=#{updatedTime}
        where ID=#{generatorId}
    </update>
    
</mapper>
